/* CSS stillerinizi buraya girin */

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

p {
    font-size: 1.9rem;
    line-height: 3rem;
    padding: 2rem;
    text-align: center;
}

.baslik-alani h5 {
    margin-top: 1rem;
}

body {
    background-color: white;
    margin: 0 auto;
}

.container {
    padding: 1rem;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
}

.baslik-alani {
    border: 1px solid black;
    text-align: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

.site-basligi {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.site-basligi h3 {
    margin: 0 auto;
}

.baslik-alani-mini-foto {
    display: flex;
    width: 40%;
    padding-top: 0.3rem;
}

.baslik-alani-mini-foto img {
    border-radius: 80%;
    cursor: pointer;
    margin-left: 0.2rem;
}

.baslik-alani-mini-foto img:hover {
    transform: scale(1.2);
    transition: transform .5s;
}

header h1 {
    text-align: center;
}

header nav {
    justify-content: center;
    display: flex;
    width: 80%;
    height: 5%;
    margin: 0 auto;
}

button {
    background-color: rgb(121, 131, 190);
    font-weight: 700;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    margin: 0.2%;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

button:hover {
    background-color: black;
    color: white;
}

.site-tanitim-alan {
    text-align: center;
    margin-top: 1vh;
    border-bottom: 0.1rem solid black;
}

main {
    margin-top: 1vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
}

#section-img {
    width: 70%;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
}

#section-img img {
    width: 100%;
}

#sectionlorem {
    width: 30%;
}

#projects div:hover {
    transform: scale(1.03);
    transition: transform .5s ease;
}

footer {
    margin-top: 0.5vh;
    justify-content: center;
    background-color: rgb(184, 190, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sosyalmedya {
    display: flex;
    margin-top: 1rem;
}

.sosyalmedya div {
    margin-right: 5px;
}

.sosyalmedya img {
    width: 20px;
    cursor: pointer;
}

.sosyalmedya img:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}

@media(max-width:480px) {
    * {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.4rem;
        padding: 1rem;
    }

    header nav {
        flex-direction: column;
        align-items: center;
    }

    header nav button {
        margin: 0.1rem;
        max-width: 80%;
    }

    #projects {
        flex-direction: column;
    }

    #section-img {
        width: 100%;
    }

    #section-img img {
        width: 90%;
    }

    #sectionlorem {
        width: auto;
    }
}

@media(481px<=width<=769px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
    }

    button {
        font-size: 1.9rem;
        min-width: 11rem;
    }

    #projects {
        flex-direction: column;
    }

    #section-img {
        width: 100%;
        justify-content: space-evenly;
    }

    #section-img img {
        width: 98%;
    }

    #projects #sectionlorem {
        width: auto;
    }
}

@media(770px<=width<=1024px) {

    button {
        font-size: 2rem;
    }

    #section-img {
        width: 60%;
        justify-content: space-evenly;
    }

    #section-img img {
        width: 98%;
    }

    #projects #sectionlorem {
        width: 40%;
    }
}

@media(min-width:1025px) {
    button {
        font-size: 3rem;
    }
}